# Project 1

### Importing Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("2018_Statistical_Annex_Table_1.xlsx")

### Initial Interpretations

In [28]:
#we use the head function to get a quick sense of the structure of the data
df.head(20)

,Unnamed: 0,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,SDG 3,NaN,SDG 4.3,NaN,SDG 4.6,NaN,SDG 8.5,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank,NaN
2,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2011 PPP $),NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,2017,NaN,2017,NaN,2017,a,2017,a,2017,NaN,2017,NaN,2016,NaN
4,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,Norway,0.952522,NaN,82.328,NaN,17.8521,NaN,12.5668,NaN,68012.5,NaN,5,NaN,1,NaN
6,2,Switzerland,0.943998,NaN,83.473,NaN,16.2088,NaN,13.408,NaN,57625.1,NaN,8,NaN,2,NaN
7,3,Australia,0.938631,NaN,83.068,NaN,22.9213,b,12.855,NaN,43560.1,NaN,18,NaN,3,NaN
8,4,Ireland,0.93841,NaN,81.643,NaN,19.6137,b,12.5263,c,53754.2,NaN,8,NaN,4,NaN
9,5,Germany,0.936043,NaN,81.178,NaN,16.956,NaN,14.082,NaN,46135.8,NaN,13,NaN,4,NaN
10,6,Iceland,0.934879,NaN,82.912,NaN,19.3479,b,12.3638,c,45810.2,NaN,13,NaN,6,NaN
11,7,"Hong Kong, China (SAR)",0.932583,NaN,84.097,NaN,16.3257,NaN,12.0381,NaN,58419.7,NaN,2,NaN,8,NaN
12,7,Sweden,0.932805,NaN,82.625,NaN,17.6346,NaN,12.4261,NaN,47765.7,NaN,9,NaN,7,NaN
13,9,Singapore,0.932042,NaN,83.218,NaN,16.2,d,11.4747,NaN,82503.1,e,-6,NaN,8,NaN
14,10,Netherlands,0.930639,NaN,82.005,NaN,18.0448,NaN,12.19,NaN,47899.8,NaN,5,NaN,10,NaN
15,11,Denmark,0.929474,NaN,80.878,NaN,19.0661,b,12.5878,f,47918.5,NaN,3,NaN,10,NaN
16,12,Canada,0.925952,NaN,82.541,NaN,16.4374,c,13.2819,NaN,43433.2,NaN,10,NaN,12,NaN
17,13,United States,0.923914,NaN,79.541,NaN,16.4682,NaN,13.38,NaN,54941.1,NaN,-2,NaN,12,NaN
18,14,United Kingdom,0.921549,NaN,81.717,NaN,17.4429,NaN,12.8887,f,39116.3,NaN,13,NaN,14,NaN
19,15,Finland,0.919653,NaN,81.496,NaN,17.6397,NaN,12.4396,NaN,41002.3,NaN,10,NaN,15,NaN

We see that the data is tabulated with some custom nested headers, the field names are spread across rows 3 and 4. In order to make the data more compatible the pandas dataframe structure we will remove the extraneous headings and have the data entries properly aligned.

In [29]:
data = df[5:]

In [30]:
data.head(20)

,Unnamed: 0,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
5,1,Norway,0.952522,NaN,82.328,NaN,17.8521,NaN,12.5668,NaN,68012.5,NaN,5,NaN,1,NaN
6,2,Switzerland,0.943998,NaN,83.473,NaN,16.2088,NaN,13.408,NaN,57625.1,NaN,8,NaN,2,NaN
7,3,Australia,0.938631,NaN,83.068,NaN,22.9213,b,12.855,NaN,43560.1,NaN,18,NaN,3,NaN
8,4,Ireland,0.93841,NaN,81.643,NaN,19.6137,b,12.5263,c,53754.2,NaN,8,NaN,4,NaN
9,5,Germany,0.936043,NaN,81.178,NaN,16.956,NaN,14.082,NaN,46135.8,NaN,13,NaN,4,NaN
10,6,Iceland,0.934879,NaN,82.912,NaN,19.3479,b,12.3638,c,45810.2,NaN,13,NaN,6,NaN
11,7,"Hong Kong, China (SAR)",0.932583,NaN,84.097,NaN,16.3257,NaN,12.0381,NaN,58419.7,NaN,2,NaN,8,NaN
12,7,Sweden,0.932805,NaN,82.625,NaN,17.6346,NaN,12.4261,NaN,47765.7,NaN,9,NaN,7,NaN
13,9,Singapore,0.932042,NaN,83.218,NaN,16.2,d,11.4747,NaN,82503.1,e,-6,NaN,8,NaN
14,10,Netherlands,0.930639,NaN,82.005,NaN,18.0448,NaN,12.19,NaN,47899.8,NaN,5,NaN,10,NaN
15,11,Denmark,0.929474,NaN,80.878,NaN,19.0661,b,12.5878,f,47918.5,NaN,3,NaN,10,NaN
16,12,Canada,0.925952,NaN,82.541,NaN,16.4374,c,13.2819,NaN,43433.2,NaN,10,NaN,12,NaN
17,13,United States,0.923914,NaN,79.541,NaN,16.4682,NaN,13.38,NaN,54941.1,NaN,-2,NaN,12,NaN
18,14,United Kingdom,0.921549,NaN,81.717,NaN,17.4429,NaN,12.8887,f,39116.3,NaN,13,NaN,14,NaN
19,15,Finland,0.919653,NaN,81.496,NaN,17.6397,NaN,12.4396,NaN,41002.3,NaN,10,NaN,15,NaN
20,16,New Zealand,0.916688,NaN,82.038,NaN,18.8651,b,12.503,NaN,33969.7,NaN,18,NaN,16,NaN
21,17,Belgium,0.916066,NaN,81.303,NaN,19.7624,b,11.7839,NaN,42156.4,NaN,6,NaN,16,NaN
22,17,Liechtenstein,0.916083,NaN,80.41,g,14.7209,NaN,12.5485,h,97335.7,"e,i",-15,NaN,16,NaN
23,19,Japan,0.909153,NaN,83.908,NaN,15.2328,NaN,12.75,j,38986.2,NaN,9,NaN,19,NaN
24,20,Austria,0.907755,NaN,81.77,NaN,16.0812,NaN,12.1487,NaN,45415.1,NaN,0,NaN,20,NaN

In [31]:
headers = df.iloc[1].values.tolist()

In [32]:
headers

[nan,
 nan,
 'Human Development Index (HDI) ',
 nan,
 'Life expectancy at birth',
 nan,
 'Expected years of schooling ',
 nan,
 'Mean years of schooling',
 nan,
 'Gross national income (GNI) per capita',
 nan,
 'GNI per capita rank minus HDI rank',
 nan,
 'HDI rank',
 nan]

In [33]:
headers[0] = "HDI Rank"
headers[1] = "Country"

In [34]:
data.columns = headers

In [37]:
data.head()

,HDI Rank,Country,Human Development Index (HDI),nan,Life expectancy at birth,nan,Expected years of schooling,nan,Mean years of schooling,nan,Gross national income (GNI) per capita,nan,GNI per capita rank minus HDI rank,nan,HDI rank,nan
5,1,Norway,0.952522,NaN,82.328,NaN,17.8521,NaN,12.5668,NaN,68012.5,NaN,5,NaN,1,NaN
6,2,Switzerland,0.943998,NaN,83.473,NaN,16.2088,NaN,13.408,NaN,57625.1,NaN,8,NaN,2,NaN
7,3,Australia,0.938631,NaN,83.068,NaN,22.9213,b,12.855,NaN,43560.1,NaN,18,NaN,3,NaN
8,4,Ireland,0.93841,NaN,81.643,NaN,19.6137,b,12.5263,c,53754.2,NaN,8,NaN,4,NaN
9,5,Germany,0.936043,NaN,81.178,NaN,16.956,NaN,14.082,NaN,46135.8,NaN,13,NaN,4,NaN

In [36]:
data.drop(nan)

Empty DataFrame
Columns: []
Index: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, ...]

[260 rows x 0 columns]